<div id="about" class="container">
    <div class="jumbotron">
        <h3 class="font-weight-bold">About Me</h3>
        <div class="row">
            <div class="col-md-6">
                <p class="lead">Hello, I'm Milan, a software engineer based in New York City, NY.</p>
                <p class="lead">I love building websites, web apps and software for people to use. I like to solve 
                    problems using my coding skills. My goal is to make things simple and easy for people to use.</p>
                <p class="lead">I learned programming through LaunchCode Program in St. Louis where I got foundational 
                    knowledge in JavaScript & Java. Currently, I'm working on my side projects while looking for 
                    employment oppotunities.</p>
            </div>
            <div class="col-md-6">
                <div class="image-container">
                    <img class="img-fluid profile-pic" src="../../assets/images/profile-pic.JPG" alt="My Profile Photo">
                </div>
            </div>
        </div>
    </div>
</div>
