.project-container{
    margin: 25px 0;
}

.project-image-container{
    display: block;
    margin: 0 auto;
    background-color: var(--green);
}

.project-image{
    display: block;
    margin: 0 auto;
    opacity: 0.3;
}

.project-image:hover{
    opacity: 1;
    transition: 0.5s ease;
}

h5, h6, li{
    color: var(--white);
}

.links-logo{
    width: 75px;
    height: auto;
    margin: 0 10px 10px 0;
    border: 1.5px solid var(--green);
    border-radius: 3px;
    padding: 7px 20px;
}