h5{
    color: var(--white);
    margin-bottom: 25px;
}

li{
    color: var(--white);
}

.list-inline-item{
    margin-right: 25px;
}

.skills-logo{
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}
