.navbar{
    background-color: var(--black) !important;
}

.nav-link{
    color: var(--green) !important;
}

.nav-link:hover{
    color: var(--white) !important;
}

.logo{
    width: 50px;
    margin-left: 10px;
}

.navbar-nav{
    text-align: right;
}

.navbar-toggler, .navbar-toggler-icon{
    border-color: var(--green) !important;
    background-color: var(--green) !important;
}

.nav-item{
    font-family: 'Roboto', sans-serif;
    margin-right: 10px;
    cursor: pointer;
}

.active{
    border: 1px solid var(--black);
    border-radius: 5px;
    background-color: var(--green);
    color: var(--black) !important;
}

.resume-btn{
    background-color: var(--black);
    border-color: var(--green);
    border-radius: 3px;
    color: var(--white);
    margin: 0 20px;
    padding: 5px 20px;
}

.resume-btn:hover{
    background-color: var(--green);
    color: var(--black);
}

@media screen and (max-width: 575px){

    #left-sidebar, #right-sidebar{
        display: none;
    }

}

@media screen and (max-width: 767px){

    #left-sidebar, #right-sidebar{
        display: none;
    }
}