<div class="left-sidebar">
    <div class="sidebar-contents">
        <ul class="list-unstyled">
            <li><a href="https://github.com/milan-shrestha"><fa-icon class="social-logo" [icon]="faGithub"></fa-icon></a></li>
            <li><a href="https://twitter.com/mshrestha07"><fa-icon class="social-logo" [icon]="faTwitter"></fa-icon></a></li>
            <li><a href="https://www.linkedin.com/in/milan-shrestha/"><fa-icon class="social-logo" [icon]="faLinkedIn"></fa-icon></a></li>
        </ul>
        <div class="vertical-line"></div>
    </div>
</div>
