<div class="container">
    <div class="jumbotron">
        <h1 class="display-6 font-weight-bold hello-text">Hello World!</h1>
        <h1 class="display-4 font-weight-bolder">My name is Milan Shrestha.</h1>
        <div class="home-text-container">
            <p class="lead">I am a Software Engineer based in New York City, NY. I build websites, web apps and software
                 for everyday use.</p>   
        </div>
        <button type="button" class="contact-btn" data-toggle="modal" data-target="#contactForm">Get In Touch</button> 
    </div>
</div>
