.home-text-container{
    width: 500px;
    max-width: 100%;
    margin: 25px 0;
}

.display-6{
    color: var(--green);
}

.display-4{
    color: var(--white);
}

.hello-text{
    margin-top: 100px;
}